# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    github_default_branch: main
    rag_shared_dir: '%env(APP_SHARE_DIR)%'
    ingestion_max_file_size: 5242880 # 5 MB
    ingestion_allowed_extensions:
        - txt
        - md
        - markdown
        - pdf
        - doc
        - docx
        - rtf
        - csv
        - tsv
        - json
        - yaml
        - yml
        - html
        - htm
        - xml

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    
        bind:
            $githubDefaultBranch: '%github_default_branch%'
            $githubApiBaseUrl: '%env(GITHUB_API_BASE_URL)%'
            $ragSharedDir: '%rag_shared_dir%'
            $ingestionMaxFileSize: '%ingestion_max_file_size%'
            $ingestionAllowedExtensions: '%ingestion_allowed_extensions%'
            $lightRagBaseUrl: '%env(LIGHT_RAG_BASE_URL)%'
            $lightRagTimeout: '%env(int:LIGHT_RAG_TIMEOUT)%'
            $chatHistoryLimit: '%env(int:CHAT_HISTORY_LIMIT)%'
            $maxRequests: '%env(int:CHAT_RATE_LIMIT_MAX_REQUESTS)%'
            $intervalSeconds: '%env(int:CHAT_RATE_LIMIT_INTERVAL)%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\Service\TokenCipher:
        arguments:
            $encryptionKey: '%env(APP_TOKEN_KEY)%'
