<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-3 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            <span class="text-muted">{{ 'footer.tagline'|trans }}</span>
        </div>
        <div>
            <span class="footer-link fw-medium">{{ 'app.name'|trans }}</span>
        </div>
    </div>
</footer>
